/* You can add global styles to this file, and also import other style files */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 40vw;
  margin-top: 40vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  background-color: #eee !important;
}

.card-1-header {
  background-color: #64e0a4;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 2px #64d0a4 solid;
}

.card-1-body {
  background-color: #fff;
  padding: 3%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px #ddd solid;
}
